@use "./variables";

.about {
    padding-bottom: 80px;
    .wrapper {
        display: flex;
        flex-direction: column;
    }
    h2 {
        margin: 0;
    }
    .button,
    h3 {
        align-self: center;
    }
    span {
        font-weight: bold;
        border-bottom: 4px solid #FFC4D1;
        padding-bottom: 2.5px;
    }
}

// FLEX ABOUT
.aboutFlex {
    display: flex;
    justify-content: space-between;
}
.aboutTextContainer {
    width: 60%;
    margin-top: 20px;
}
.aboutImgContainer {
    width: 30%;
    align-self: center;
}
