@use "./variables";

// contact section
.contact {
    // background-color: #FFE8E1;
    padding-bottom: 100px;
    form {
        margin-top: 30px;
    }
    .formButton {
        background-color: variables.$black;
        margin-top: 12px;
        align-self: flex-start;
        transition: all ease-in 0.3s;
    }
    .formButton:hover,
    .formButton:focus,
    .formButton:active {
        background-color: variables.$primaryBackground;
        color: variables.$black;
        border: 2px solid variables.$black;
    }
    ul {
        display: flex;
        margin: 40px 0 60px;
    }
    li {
        margin-right: 20px;
    }
    p:first-child {
        margin-top: 0;
    }
    i {
        font-size: 2rem;
    }
    h3 {
        font-size: clamp(1.15rem, 0.8239rem + 1.2307vw, 1.325rem);
        margin-bottom: 20px;
        font-weight: bold;
        text-align: left;
    }
}

// contact flex
.contactFlex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contactTextContainer,
.socialsContainer {
    width: 100%;
    margin-top: 30px;
    p {
        margin-bottom: 0;
    }
}

.contactTextContainer {
    margin-bottom: 20px;
    width: 85%;
}


.socialsContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 120px;
    p {
        text-align: center;
    }
}

.contactFormContainer {
    width: 85%;
    i {
        font-size: 1rem;
    }
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
label {
    width: 100%;
}
input,
textarea {
    border: 0px;
    border-bottom: 3px solid variables.$grey;
    background-color: transparent;
    margin: 10px 0 40px;
    width: 100%;
}
textarea {
    height: 150px;
}
