@use "./variables";

// WRAPPER
.wrapper {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
}

// hide SKIP LINK TO MAIN CONTENT
.skipLink {
    position: absolute;
    left: -1000px;
    z-index: 10;
    background: #fff;
    color: black;
    font-size: 1rem;
    padding: 10px 0;
}
// display skip link to main focus when tabbing
.skipLink:focus {
    left: 0;
    right: 0;
    text-align: center;
    top: 80px;
}

// img
img {
    max-width: 100%;
    display: block;
}

// buttons
.button {
    padding: 10px 36px;
    border: 2px solid transparent;
    background-color: #FFC4D1;
    width: fit-content;
    align-self: center;
}

button {
    cursor: pointer;
}

// section
section {
    .wrapper {
        display: flex;
        flex-direction: column; 
    }
    
}
