@use "./variables";

// styles for LARGE DESKTOPS
@media (min-width: 1800px) {
    // SKILLS
    ul.skillsList {
        li:nth-child(11) {
            margin-top: 0;
        }
    }
}

@media (min-width: 1670px) {
    // ABOUT
    .about {
        .aboutImgContainer {
            width: 20%;
        }
    }
    // SKILLS
    ul.skillsList {
        li:last-child {
            margin-top: 0;
        }
    }
}

@media (min-width: 1500px) {
    // WRAPPER
    .wrapper {
        max-width: 1900px;
    }
    // HEADER
    header {
        padding: 300px 0 100px;
        
    }
    // ABOUT
    .aboutImgContainer {
        width: 25%;
    }
    // CONTACT
    .contactFormContainer,
    .contactTextContainer {
        width: 70%;
    }
    .contactTextContainer {
        margin-bottom: 30px;
    }
    .contact {
        form {
            margin-top: 50px;
        }
    }
}

@media (max-width: 1428px) {
    // SKILLS
    ul.skillsList {
        li:nth-child(10) {
            margin-top: 30px;
        }
    }
}

// medium DESKTOPS
@media (max-width: 1275px) {
    // PROJECTS
    .projectLinks {
        flex-direction: column;
        a {
            align-self: flex-start;
        }
        a:first-child {
            margin-bottom: 10px;
        }
    }
    .projectOneFlex,
    .projectThreeFlex {
        .projectLinks a {
           width: 53%; 
        }
        
    }
    .projectTwoFlex,
    .projectFourFlex {
        .projectLinks a {
            width: 100%;
        }
    }
} 

// SMALL DESKTOPS 
@media (max-width: 1123px) {
    // ABOUT
    .aboutFlex {
        flex-direction: column-reverse;
        align-items: center;
    }
    .aboutTextContainer {
        width: 100%;
        margin-top: 50px;
    }
    .aboutImgContainer {
        width: 36%;
    }

    // PROJECTS
    // .projectTextContainer {
    //     width: 42%;
    // }

    // CONTACT FORM
    textarea {
        height: 175px;
    }
}

@media (max-width: 1092px) {
    // SKILLS
    ul.skillsList {
        li:nth-child(6) {
            margin-top: 30px;
        }
    }
}

@media (max-width: 1049px) {
    // SECTIONS
    section {
        padding-top: 60px;
    }
    // PROJECTS
    .projectFlex {
        flex-direction: column;
        margin: 0 0 80px;
        .projectTextContainer {
            text-align: center;
            align-items: center;
        }
    }
    .projectTextContainer,
    .projectImgContainer {
        width: 100%;
    }
    .projectOneFlex,
    .projectThreeFlex {
        flex-direction: column-reverse;
    }
    .projectImgContainer {
        margin-bottom: 60px;
    }
    .projectTwoFlex,
    .projectFourFlex {
        flex-direction: column;
        align-items: flex-end;
        // .projectImgContainer {
        //     align-self: flex-end;
        // }
    }
    .projectOneFlex,
    .projectThreeFlex {
        .projectTextContainer {
            margin-right: 0;
        }
        .projectLinks a {
            width: 100%;
        }
    }
    .projectTwoFlex,
    .projectFourFlex {
        .projectTextContainer {
            margin-left: 0;
        }
    }

    // CONTACT FORM
    .contact {
        padding-top: 80px;
    }
    textarea {
        height: 200px;
    }
}

@media(max-width: 979px) {
    // NAV
    nav {
        i {
            font-size: 1.2rem;
        }
    }

    // SKILLS
    ul.skillsList {
        li {
            width: calc((100% / 4) - 25px);
            text-align: center;
            margin: 0 25px 10px 0;
        }
        li:nth-child(6) {
            margin-right: 25px;
            margin-top: 0;
        } 
        li:nth-child(4),
        li:nth-child(8) {
            margin-right: 0;
        }
        li:nth-child(10) {
            margin-top: 0;
        } 
    }
    // PROJECTS
    // .projectOneFlex,
    // .projectThreeFlex {
    //     .projectLinks a {
    //         width: 35%;
    //     }
    // }
    

    // CONTACT FORM
    .contactTextContainer {
        margin-bottom: 30px;
    }
    .contactFormContainer,
    .socialsContainer,
    .contactTextContainer,
    .headingContainer {
        width: 100%;
    }
    .socialsContainer {
        margin-top: 100px;
        text-align: center;
        h3 {
            text-align: center;
        }
    }
}

@media (max-width: 885px) {
    // SKILLS
    ul.skillsList {
        li:nth-child(10) {
            margin-top: 30px;
        }
    }
}

// HAMBURGER MENU AT 800px breakpoint
@media (max-width: 800px) {
    .wrapper {
        max-width: 800px;
    }
    // HAMBURGER MENU visible
    .hamburgerNav {
        z-index: 10;
        right: 0;
        position: fixed;
        top: 0;
        left:0;
        display: unset;
        height: 70px; 
    }

    // FLEX LOGO & BURGER
    .logoBurgerFlex {
        display: flex;
        justify-content: space-between;
        position: relative;
        .logo {
            position: absolute;
            top: 15px;
        }
    }

    // make logo disappear when menu opened
    .noLogo {
        left: -100%;
    }
    
    // HAMBURGER BUTTON
    .hamburgerMenu {
        display: flex;
        align-items: center;
        position: absolute;
        top: 20px;
        right: 10px;
        transition: all 400ms;
        // &:not(:hover) {
        //     color: variables.$black;
        // }
    }

    // SLIDE OUT MENU
    .slideOut {
        top: 60px;
        right: -100%;
        position: absolute;
        transition: all 400ms;
        width: 100%;
        // WRAPPER AS FLEX CONTAINER
        .wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: nowrap;
        }
        // MENU ITEMS
        a {
            display: inline-block;
            padding: 20px 0 20px;
            font-size: 1.4rem;
            font-weight: bold;
            &:hover,
            &:focus {
                color: variables.$iconHover;
            }
        }
        li {
            text-align: center;
            margin: 0;
            width: fit-content;
            margin-bottom: 10px;
        }
    }
    
    // REGULAR NAV
    .mainNav {
        display: none;
    }
    .navActive {
        // important to still specify height when burger icon is clicked
        height: 100%;
        z-index: 10;
        background-color: variables.$overlayBackground;
        // .hamburgerMenu:not(:hover).hamburgerMenu:not(:focus) {
        //     color: variables.$black;
        // }
        .slideOut {
            right: 0;
        }
        

        // rotate button for cool effect
        .fa-bars {
            transform: rotate(90deg);
        }
        .fa-times {
            transform: rotate(-90deg);
        }
    }
}

// smaller tablet
@media (max-width: 732px) {
    // HEADER
    header {
        padding: 220px 0 40px;
        span {
            font-size: clamp(2.3rem, 1.877rem + 1.714vw, 2.5rem);
        }
    }
    // PROJECTS
    // .projectOneFlex,
    // .projectThreeFlex {
    //     .projectLinks a {
    //         width: 40%;
    //     }
    // }
    // FOOTER copyright
    footer {
        p {
            text-align: center;
        }
    }
}

@media (max-width: 692px) {
    // SKILLS
    ul.skillsList {
        li:nth-child(6) {
            margin-top: 30px;
        }
    }
}


@media (max-width: 680px) {
    // ABOUT
    .aboutImgContainer {
        width: 40%;
    }
    // SKILLS
    ul.skillsList {
        li {
            width: calc((100% / 3) - 25px);
            // text-align: center;
            // margin: 0 25px 10px 0;
        }
        li:nth-child(4),
        li:nth-child(8) {
            margin-right: 25px;
        } 
        li:nth-child(3),
        li:nth-child(6),
        li:nth-child(9) {
            margin-right: 0;
        }
        li:nth-child(6),
        li:nth-child(10) {
            margin-top: 0;
        } 
    }

    // PROJECTS
    // .projectOneFlex,
    // .projectThreeFlex {
    //     .projectLinks a {
    //         width: 45%;
    //     }
    // }

    // CONTACT
    .socialsContainer {
        margin-top: 80px;
        ul {
            margin-bottom: 60px;
        }
    }
}

@media (max-width: 643px) {
    // SKILLS
    ul.skillsList {
        li:nth-child(10) {
            margin-top: 30px;
        }
    }
}

// mobile screen sizes
@media (max-width: 550px) {
    // sections padding top
    section {
        padding-top: 70px;
    }
    // ABOUT
    .aboutImgContainer {
        width: 45%;
    }
    // SKILLS
    ul.skillsList {
        li {
            width: calc((100% / 2) - 25px);
            // text-align: center;
            // margin: 0 25px 10px 0;
        }
        li:nth-child(3),
        li:nth-child(9) {
            margin-right: 25px;
        } 
        li:nth-child(2),
        li:nth-child(4),
        li:nth-child(6),
        li:nth-child(8),
        li:nth-child(10) {
            margin-right: 0;
        } 
        li:nth-child(10) {
            margin-top: 0;
        }
    }

    // PROJECTS
    // .projectOneFlex,
    // .projectThreeFlex {
    //     .projectLinks a {
    //         width: 49%;
    //     }
    // }
}

@media (max-width: 505px) {
    // ABOUT
    .aboutImgContainer {
        width: 50%;
    }
    //SKILLS
    ul.skillsList {
        li:last-child {
            margin-top: 0;
        }
    }
    // PROJECTS
    .projectThreeFlex {
        h5 {
            width: 87%;
        }
    }
    // .projectOneFlex,
    // .projectThreeFlex {
    //     .projectLinks a {
    //         width: 55%;
    //     }
    // }
}

@media (max-width: 492px) {
    // SECTIONS
    section {
        padding-top: 55px;
    }
    // ABOUT
    .about {
        padding-bottom: 45px;
    }
    .aboutTextContainer {
        margin-top: 35px;
    }
    // SKILLS
    .skills {
        padding-bottom: 50px;
    }
    .skillsList {
        margin-top: 0;
    }
    // PROJECTS
    .projectThreeFlex {
        h5 {
            width: 92%;
        }
    }
    // CONTACT
    .contact {
        padding-top: 60px;
        h3 {
            margin-bottom: 10px;
        }
    }
    .contactTextContainer {
        margin: 25px 0 25px;
    }
    .socialsContainer {
        margin-top: 70px;
        ul {
            margin-bottom: 40px;
        }
    }
}

@media (max-width: 474px) {
    // SKILLS
    ul.skillsList {
        li:last-child {
            margin-top: 15px;
        }
    }
}

@media (max-width: 429px) {
    // HEADER
    header {
        padding: 200px 0 35px;
    }
    // ABOUT
    .aboutImgContainer {
        width: 55%;
    }
    // PROJECTS
    // .projectOneFlex,
    // .projectThreeFlex {
    //     .projectLinks a {
    //         width: 62%;
    //     }
    // }
    // Contact padding-bottom
    .contact {
        padding-bottom: 50px;
    }
}

@media (max-width: 414px) {
    // SKILLS
    ul.skillsList {
        li:nth-child(10) {
            margin-top: 30px;
        }
    }
}

@media (max-width: 400px) {
    // ABOUT
    .aboutImgContainer {
        width: 60%;
    }
    // PROJECTS
    // .projectOneFlex,
    // .projectThreeFlex {
    //     .projectLinks a {
    //         width: 70%;
    //     }
    // }
    .projectOneFlex,
    .projectTwoFlex,
    .projectFourFlex {
        h5 {
            width: 77%;
        }
    }
}

@media (max-width: 330px) {
    // SKILLS
    ul.skillsList {
        li:nth-child(6) {
            margin-top: 30px;
        }
    }
}

@media (max-width: 325px) {
    // HEADER padding-top
    header {
        padding-top: 180px;
        a:last-child {
            margin-top: 60px;
        }
    }
    // ABOUT, SKILLS padding-bottom
    .about {
        padding-bottom: 60px;
    }
    .skills {
        padding-bottom: 50px;
    }
}