@use "./variables";

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    // background: rgba(255, 232, 225, 0.48);

    background-color: #FFE8E1;
    
    // background: rgba(135, 81, 81, 0.2);
    // background: rgba(255, 255, 255, 0.2);
    // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    // backdrop-filter: blur(7.4px);
    // -webkit-backdrop-filter: blur(7.4px);
    // border: 1px solid rgba(135, 81, 81, 0.3);
    .navFlex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        position: relative;
    }
    ul {
        display: flex;
    }
    li {
        margin-right: 20px;
    }
    li:last-child {
        margin-right: 0;
    }
    i {
        font-size: 1.5rem;
    }
    .logo {
        display: flex;
        align-items: center;
        margin-left: 15px;
    }
    img {
        height: 40px;
    }
    ul,
    .logo {
        width: calc((100% / 3) - 70px);
    }
    .socials {
        justify-content: flex-end;
        margin-right: 20px;
        a {
            transition: all ease-in 0.3s;
        }
        a:hover,
        a:focus {
            color:#fd849e;
        }
    }
    // main nav ul
    .navLinks {
        margin: 0 35px 0 35px;
        width: min-content;
        a:hover,
        a:focus {
            border-bottom: 4px solid #FFC4D1;
            padding-bottom: 2.5px;
            font-weight: bold;
        }
    }
}


// hamburger menu only visible with tablet and mobile
.hamburgerMenu {
    display: none;
    background-color: inherit;
    border: none;
    // margin-right: 20px;
    &:hover,
    &:focus {
        color:#fd849e;
    }
    i {
        font-size: 1.4rem;
        margin-right: 50px;
    }
}
