@use "./variables";

.mainNav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 3px double aliceblue ;
    // background: rgba(255, 232, 225, 0.48);

    // background-color: #FFE8E1;
    
    // background: rgba(135, 81, 81, 0.2);
    // background: rgba(255, 255, 255, 0.2);
    // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    // backdrop-filter: blur(7.4px);
    // -webkit-backdrop-filter: blur(7.4px);
    // border: 1px solid rgba(135, 81, 81, 0.3);
    .wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        position: relative;
    }
    ul {
        display: flex;
    }
    li {
        margin-right: 20px;
    }
    li:last-child {
        margin-right: 0;
    }
    i {
        font-size: 1.5rem;
    }
    .logo {
        display: flex;
        align-items: center;
        margin-left: 15px;
    }
    ul,
    .logo {
        width: calc((100% / 3) - 70px);
    }
    .socials {
        justify-content: flex-end;
        margin-right: 20px;
    }
    // main nav ul
    .navLinks {
        margin: 0 35px 0 35px;
        width: min-content;
        a:hover,
        a:focus {
            border-bottom: 4px solid variables.$softerPink;
            padding-bottom: 2.5px;
            font-weight: bold;
        }
    }
}

// LOGO
.logo {
    // make logo animated
    // inspiration taken from beating heart animation from stack overflow: https://stackoverflow.com/questions/34762009/pulsing-heart-css-animation
    &:visited img,
    &:hover img,
    &:active img,
    &:focus img {
        animation-name: logoFadeInOut; 
        animation-iteration-count: infinite;
        animation-duration: 2s;
        @keyframes logoFadeInOut {
            0% {transform: scale(1);}
            25% {transform: scale(.97);}
            35% {transform: scale(.9);}
            45% {transform: scale(1.1);}
            55% {transform: scale(.9);}
            65% {transform: scale(1.1);}
            75% {transform: scale(1.03);}
            100% {transform: scale(1);}
        }
    }
    img {
        height: 40px;
    } 
} 


// hamburger menu only visible with tablet and mobile
.hamburgerMenu {
    background-color: inherit;
    border: none;
    i {
        font-size: 1.4rem;
        // margin-right: 50px;
    }
}

// slide out nav
.hamburgerNav {
    display: none;
}
