@use "./variables";

.projects {
    background-color: #fff;
    padding-bottom: 10px;
    h4 {
        color: #fd8ea6;
        // font-weight: bold;
        font-size: clamp(1rem, 0.7239rem + 1.2307vw, 1.8rem);
    }
    h5 {
        border: 3px solid #FFC4D1;
        padding: 5px 10px;
        width: fit-content;
    }
    p {
        margin-top: 0;
    }
}
.projectFlex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 40px 0 80px;
}

.projectTwoFlex,
.projectFourFlex {
    display: flex;
    .projectTextContainer {
        text-align: right;
        align-items: flex-end;
    }
}

.projectTextContainer {
    width: 42%;
    display: flex;
    flex-direction: column;
}

.projectLinks {
    margin-top: 15px;
    a:first-child {
        margin-right: 10px;
    }
    a {
        display: inline-block;
    }
    .button {
        position: relative;
    }
    .button:hover,
    .button:focus {
        color: variables.$black;
        background-color: #FFC4D1;
        border: 2px solid variables.$black;
    }
    .button:hover span,
    .button:focus span {
        right: .8rem;
    }
    i {
        opacity: 0;
        position: absolute;
        width: 1.7rem;
        top: 28%;
        right: 24px;
        transition: all ease-out 0.3s;
        will-change: right, opacity;
    }
    .button:hover i,
    .button:focus i {
        opacity: 1;
        right: 0;
    }
}


.projectImgContainer {
    width: 50%;
}
