@use "./variables";

.projects {
    // background-color: #fff;
    padding-bottom: 10px;
    h4 {
        color: variables.$lightBlack;
        // font-weight: bold;
        font-size: clamp(1.275rem, 1.0938rem + 1.163vw, 2.6125rem);
        font-weight: bold;
    }
    h5 {
        border: 2px solid variables.$iconHover;
        padding: 5px 10px;
        width: fit-content;
    }
    p {
        margin-top: 0;
        a {
            font-size: clamp(0.8rem, 0.7309rem + 0.5376vw, 1rem);
            font-weight: bold;
            color: variables.$lightBlack;
            &:first-child:hover,
            &:first-child:focus {
                color: variables.$iconHover;
                border-bottom: 0px;
                padding-bottom: 0px;
                background: none;
            }
            &:hover,
            &:focus {
                border-bottom: 4px solid variables.$headingBackground;
                background-color: variables.$headingBackground;
                padding-bottom: 0.5px;
            }
        }
    }
}
.projectFlex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 40px 0 80px;
}

.projectTextContainer,
.projectImgContainer {
    width: calc(50% - 50px);
}

.projectOneFlex,
.projectThreeFlex {
    .projectTextContainer {
        margin-right: 50px;
    }
}

.projectTwoFlex,
.projectFourFlex {
    .projectTextContainer {
        margin-left: 50px;
    }
}

.projectTwoFlex,
.projectFourFlex {
    display: flex;
    .projectTextContainer {
        text-align: right;
        align-items: flex-end;
    }
}

.projectTextContainer {
    // width: 42%;
    display: flex;
    flex-direction: column;
}

.projectLinks {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    // justify-content: space-between;
    a:first-child {
        margin-right: 10px;
    }
    a {
        display: inline-block;
    }
    .button {
        position: relative;
        transition: all ease-in 0.5s;
    }
    .button:hover,
    .button:focus {
        color: variables.$black;
        background-color: variables.$primaryBackground;
        border: 2px solid variables.$black;
        &:hover i,
        &:focus i {
            color: variables.$black;
        }
    }
    .button:hover span,
    .button:focus span {
        right: .8rem;
    }
    i {
        opacity: 0;
        position: absolute;
        width: 1.7rem;
        top: 28%;
        right: 24px;
        transition: all ease-out 0.3s;
        will-change: right, opacity;
    }
    .button:hover i,
    .button:focus i {
        opacity: 1;
        right: 0;
    }
}


.projectImgContainer {
    // width: 52%;
    display: flex;
    flex-direction: column;
    align-self: center;
}
