@use "./variables";

.skills {
    background-color: #FFE8E1;
    padding-bottom: 80px;
    i {
        font-size: 3.5rem;
    }
    img {
        height: 3.5rem;
    }
}

.skillsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    // margin-top: 50px;
    // padding: 0 60px;
    li {
        width: calc((100% / 6) - 25px);
        text-align: center;
        margin: 0 25px 10px 0;
    }
    li:nth-child(6),
    li:nth-child(12) {
        margin-right: 0;
    }
    .responsiveIconContainer,
    a {
        display: flex;
        justify-content: center;
    }
}


