@use "./variables";

// base font size
html {
    font-size: 125%;
}

// stripping styles
ul {
    list-style: none;
    padding: 0;
}
  
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: 0.3s;
}

body {
    font-family: variables.$baseFont;
    color: variables.$black;
}

p {
    line-height: 1.4;
}

h1 {
    font-weight: normal;
    text-transform: uppercase;
    color: rgb(28, 28, 28);
    font-size: 1rem;
}

h2 {
    font-weight: normal;
    text-transform: uppercase;
}

h3 {
    font-size: 0.9rem;
    font-weight: normal;
    margin: 0;
    text-align: center;
}

h4 {
    font-size: 1.8rem;
    text-align: center;
    text-transform: capitalize;
}

h5 {
    font-size: 1.4rem;
    font-weight: normal;
    margin: 0;
}

// CONTACT

// FORM
input, 
textarea,
button {
    font-family: variables.$baseFont;
}

.formButton {
    color: #fff;
}

// FOOTER
footer {
    color: #fff;
    font-size: 0.8rem;
    p {
        margin: 0;
    }
    span {
        color: variables.$lightBlue;
    }
}