@use "./variables";

// base font size
html {
    font-size: 125%;
}

// stripping styles
ul {
    list-style: none;
    padding: 0;
}
  
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: 0.3s;
}

body {
    font-family: variables.$baseFont;
    color: variables.$black;
}

p {
    line-height: 1.4;
    font-size: clamp(1rem, 0.8309rem + 0.5376vw, 1rem);
    letter-spacing: 1.1px;
}

// h1 {
//     font-weight: normal;
//     text-transform: uppercase;
//     color: rgb(28, 28, 28);
//     font-size: 1rem;
// }

h1 {
    font-weight: normal;
    text-transform: uppercase;
}

h2 {
    font-size: 0.9rem;
    font-weight: normal;
    margin: 0;
    text-align: center;
}

h3 {
    font-size: 1.8rem;
    text-align: center;
    text-transform: capitalize;
    margin-top: 20px;
}

h4 {
    font-size: 1.4rem;
    font-weight: normal;
    margin: 0;
    text-transform: capitalize;
}

h5 {
    font-weight: normal;
    font-size: clamp(0.9375rem, 0.8665rem + 0.3551vw, 1.25rem);
    letter-spacing: 1.2px;
}

// CONTACT

// FORM
input, 
textarea,
button {
    font-family: variables.$baseFont;
}

.formButton {
    color: #fff;
}

// FOOTER
footer {
    color: #fff;
    p {
        margin: 0;
        font-size: 0.8rem;
    }
    span {
        color: #FFC4D1;
    }
}