// FONT FAMILY
$baseFont: 'Poppins', sans-serif;

// COLOURS
$primaryBackground: #FFE8E1;
$overlayBackground: rgba(255, 232, 225, 0.88);
$headingBackground: #FFC4D1;
$iconHover: #fd849e;
$grey: #82899B;
$lightBlack: #363332;
$black: #000100;

// maybe this background color for about and projects section
// $secondaryBackground: #EAF3F6 or this one #FAF4F4;
$secondaryBackground: #FAF4F4;

// $lightBlue: #BEDCFE;
// $lightPink: #EFAAC4;