// FONT FAMILY
$baseFont: 'Poppins', sans-serif;

// COLOURS
$primaryBackground: #FFE8E1;
$newPrimaryBackground: #f8d4c9;
$overlayBackground: rgba(255, 232, 225, 0.88);
$headingBackground: #FFC4D1;
$iconHover: #fd849e;
$softerPink: rgb(253, 132, 158, 0.6);
$imageBackground: rgba(255, 196, 209, 0.8);
$grey: #82899B;
$lightBlack: #363332;
$black: #000100;



// maybe this background color for about and projects section
// $secondaryBackground: #EAF3F6 or this one #FAF4F4;
$secondaryBackground: #FAF4F4;


// toying around with different colours
// $lightBlue: #BEDCFE;
// $lightPink: #EFAAC4;

// $color: #ffd5c8;
// $colourTwo: #ffe5dd;
// $first: #ffded4;

// $button: #f7afbe;
// $otherB: #fba8b7;
// $actualColor: #f9cdcd;

// $realC: #F9D9CD;
// $newC: #F9D9CD;

// $maybe: rgb(248, 212, 201);
// $nav: rgb(248, 212, 201, 0.8);

// $headB: rgb(255, 196, 209, 0.9);

// $possible: rgb(251, 229, 219, 0.8);
// $project: #f9e7e2;

