html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 85%;
  max-width: 1280px;
  margin: 0 auto;
}

.skipLink {
  position: absolute;
  left: -1000px;
  z-index: 10;
  background: #fff;
  color: black;
  font-size: 1rem;
  padding: 10px 0;
}

.skipLink:focus {
  left: 0;
  right: 0;
  text-align: center;
  top: 80px;
}

img {
  max-width: 100%;
  display: block;
}

.button {
  padding: 10px 36px;
  border: 2px solid transparent;
  background-color: #FFC4D1;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}

a.button:hover,
a.button:focus,
a.button:active {
  background-color: #363332;
  color: #FFE8E1;
}

button {
  cursor: pointer;
}

section {
  padding-top: 100px;
}
section .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html {
  font-size: 125%;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: clamp(0.9rem, 0.758rem + 0.6102vw, 1rem);
}

body {
  font-family: "Poppins", sans-serif;
  color: #000100;
}

p {
  line-height: 1.4;
  font-size: clamp(0.8rem, 0.8309rem + 0.5376vw, 1rem);
  letter-spacing: 1.1px;
}

h1 {
  font-weight: normal;
  text-transform: uppercase;
}

h2 {
  font-size: 0.9rem;
  font-weight: normal;
  margin: 0;
  text-align: center;
}

h3 {
  font-size: 1.8rem;
  text-align: center;
  text-transform: capitalize;
  margin-top: 20px;
}

h4 {
  font-size: 1.4rem;
  font-weight: normal;
  margin: 0;
  text-transform: capitalize;
}

h5 {
  font-weight: normal;
  font-size: clamp(0.9375rem, 0.8665rem + 0.3551vw, 1.25rem);
  letter-spacing: 1.2px;
}

input,
textarea,
button {
  font-family: "Poppins", sans-serif;
}

.formButton {
  color: #fff;
}

footer {
  color: #fff;
}
footer p {
  margin: 0;
  font-size: 0.8rem;
}
footer span {
  color: #FFC4D1;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background: rgba(255, 232, 225, 0.48);
}
nav .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
nav li {
  margin-right: 20px;
}
nav li:last-child {
  margin-right: 0;
}
nav i {
  font-size: 1.5rem;
}
nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav img {
  height: 40px;
}
nav ul,
nav .logo {
  width: calc(33.3333333333% - 70px);
}
nav .socials {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
nav .socials a {
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}
nav .socials a:hover,
nav .socials a:focus {
  color: #fd849e;
}
nav .navLinks {
  margin: 0 35px 0 35px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}
nav .navLinks a:hover,
nav .navLinks a:focus {
  border-bottom: 4px solid #FFC4D1;
  padding-bottom: 2.5px;
  font-weight: bold;
}

header {
  padding: 150px 0 30px;
  background-color: #FFE8E1;
  text-align: center;
}
header span {
  display: block;
  font-weight: bold;
  font-size: 2.5rem;
  margin-top: 20px;
}
header a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
header .button {
  margin-top: 50px;
}
header a:last-child {
  margin-top: 80px;
  -ms-flex-item-align: center;
      align-self: center;
}
header a:last-child:hover, header a:last-child:focus {
  color: #fd849e;
}

.headerLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about {
  padding-bottom: 80px;
}
.about .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about h2 {
  margin: 0;
}
.about .button,
.about h3 {
  -ms-flex-item-align: center;
      align-self: center;
}
.about span {
  font-weight: bold;
  border-bottom: 4px solid #FFC4D1;
  padding-bottom: 2.5px;
}

.aboutFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aboutTextContainer {
  width: 60%;
  margin-top: 20px;
}

.aboutImgContainer {
  width: 30%;
  -ms-flex-item-align: center;
      align-self: center;
}

.skills {
  background-color: #FFE8E1;
  padding-bottom: 80px;
}
.skills i {
  font-size: 3.5rem;
}
.skills img {
  height: 3.5rem;
}

.skillsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.skillsList li {
  width: calc(16.6666666667% - 25px);
  text-align: center;
  margin: 0 25px 10px 0;
}
.skillsList li:nth-child(6),
.skillsList li:nth-child(12) {
  margin-right: 0;
}
.skillsList .responsiveIconContainer,
.skillsList a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects {
  background-color: #fff;
  padding-bottom: 10px;
}
.projects h4 {
  color: #fd8ea6;
  font-size: clamp(1rem, 0.7239rem + 1.2307vw, 1.8rem);
}
.projects h5 {
  border: 3px solid #FFC4D1;
  padding: 5px 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.projects p {
  margin-top: 0;
}

.projectFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 40px 0 80px;
}

.projectTwoFlex,
.projectFourFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.projectTwoFlex .projectTextContainer,
.projectFourFlex .projectTextContainer {
  text-align: right;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.projectTextContainer {
  width: 42%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projectLinks {
  margin-top: 15px;
}
.projectLinks a:first-child {
  margin-right: 10px;
}
.projectLinks .button {
  position: relative;
}
.projectLinks .button:hover,
.projectLinks .button:focus {
  color: #000100;
  background-color: #FFC4D1;
  border: 2px solid #000100;
}
.projectLinks .button:hover span,
.projectLinks .button:focus span {
  right: 0.8rem;
}
.projectLinks i {
  opacity: 0;
  position: absolute;
  width: 1.7rem;
  top: 28%;
  right: 24px;
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
  will-change: right, opacity;
}
.projectLinks .button:hover i,
.projectLinks .button:focus i {
  opacity: 1;
  right: 0;
}

.projectImgContainer {
  width: 50%;
}

.contact {
  background-color: #FFE8E1;
  padding-bottom: 100px;
}
.contact .formButton {
  background-color: #000100;
  margin-top: 12px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}
.contact .formButton:hover,
.contact .formButton:focus,
.contact .formButton:active {
  background-color: #FFE8E1;
  color: #000100;
  border: 2px solid #000100;
}
.contact h2 {
  font-weight: bold;
  font-size: 1.8rem;
  text-align: left;
  margin: 8px 0;
}
.contact ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px 0 90px;
}
.contact ul a {
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}
.contact ul a:hover,
.contact ul a:focus {
  color: #fd849e;
}
.contact li {
  margin-right: 20px;
}
.contact p:first-child {
  margin-top: 0;
}
.contact i {
  font-size: 2rem;
}
.contact h3 {
  font-size: clamp(1.15rem, 0.8239rem + 1.2307vw, 1.325rem);
  margin-bottom: 20px;
  font-weight: normal;
  text-align: left;
}

.contactTextFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contactTextContainer,
.headingContainer {
  width: 50%;
}

.headingContainer {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-flex-item-align: center;
      align-self: center;
}

.contactFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contactTextContainer,
.socialsContainer {
  width: 40%;
  margin-right: 15px;
  margin-top: 20px;
}

.socialsContainer {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.contactFormContainer {
  width: 50%;
}
.contactFormContainer i {
  font-size: 1rem;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

label {
  width: 100%;
}

input,
textarea {
  border: 0px;
  border-bottom: 3px solid #82899B;
  background-color: transparent;
  margin: 10px 0 40px;
  width: 100%;
}

textarea {
  height: 150px;
}

footer {
  background-color: #000100;
  padding: 25px 0 20px;
}
footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1900px) {
  .wrapper {
    max-width: 1900px;
  }
}
@media (max-width: 1123px) {
  .aboutFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutTextContainer {
    width: 100%;
  }
  .aboutImgContainer {
    width: 60%;
  }
  .projectTextContainer {
    width: 45%;
  }
  textarea {
    height: 175px;
  }
}
@media (max-width: 1049px) {
  .projectTextContainer,
.projectImgContainer {
    width: calc(50% - 15px);
  }
  .projectOneFlex .projectTextContainer,
.projectThreeFlex .projectTextContainer {
    margin-right: 15px;
  }
  .projectTwoFlex .projectTextContainer,
.projectFourFlex .projectTextContainer {
    margin-left: 15px;
  }
  textarea {
    height: 200px;
  }
}
@media (max-width: 979px) {
  nav i {
    font-size: 1.2rem;
  }
  .skillsList li {
    width: calc(25% - 25px);
    text-align: center;
    margin: 0 25px 10px 0;
  }
  .skillsList li:nth-child(6) {
    margin-right: 25px;
  }
  .skillsList li:nth-child(4),
.skillsList li:nth-child(8) {
    margin-right: 0;
  }
  .projectFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projectTextContainer,
.projectImgContainer {
    width: 100%;
  }
  .projectOneFlex,
.projectThreeFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .projectImgContainer {
    margin-bottom: 30px;
  }
  .projectTwoFlex,
.projectFourFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .projectOneFlex .projectTextContainer,
.projectThreeFlex .projectTextContainer {
    margin-right: 0;
  }
  .projectTwoFlex .projectTextContainer,
.projectFourFlex .projectTextContainer {
    margin-left: 0;
  }
  .contactFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 30px;
  }
  .contactTextFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactTextContainer {
    margin-bottom: 30px;
  }
  .contactFormContainer,
.socialsContainer,
.contactTextContainer,
.headingContainer {
    width: 100%;
  }
  .socialsContainer {
    margin-top: 100px;
    text-align: center;
  }
  .socialsContainer ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .socialsContainer h3 {
    text-align: center;
  }
}
@media (max-width: 900px) {
  nav i {
    font-size: 1rem;
  }
}