html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
}

.skipLink {
  position: absolute;
  left: -1000px;
  z-index: 10;
  background: #fff;
  color: black;
  font-size: 1rem;
  padding: 10px 0;
}

.skipLink:focus {
  left: 0;
  right: 0;
  text-align: center;
  top: 80px;
}

img {
  max-width: 100%;
  display: block;
}

.button {
  padding: 10px 36px;
  border: 2px solid transparent;
  background-color: #FFC4D1;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-flex-item-align: center;
      align-self: center;
}

button {
  cursor: pointer;
}

section .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html {
  font-size: 125%;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body {
  font-family: "Poppins", sans-serif;
  color: #000100;
}

p {
  line-height: 1.4;
}

h1 {
  font-weight: normal;
  text-transform: uppercase;
  color: rgb(28, 28, 28);
  font-size: 1rem;
}

h2 {
  font-weight: normal;
  text-transform: uppercase;
}

h3 {
  font-size: 0.9rem;
  font-weight: normal;
  margin: 0;
  text-align: center;
}

h4 {
  font-size: 1.8rem;
  text-align: center;
  text-transform: capitalize;
}

h5 {
  font-size: 1.4rem;
  font-weight: normal;
  margin: 0;
}

input,
textarea,
button {
  font-family: "Poppins", sans-serif;
}

.formButton {
  color: #fff;
}

footer {
  color: #fff;
  font-size: 0.8rem;
}
footer p {
  margin: 0;
}
footer span {
  color: #EFAAC4;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background: rgba(255, 232, 225, 0.48);
}
nav .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
nav li {
  margin-right: 20px;
}
nav i {
  font-size: 1.5rem;
}
nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav img {
  height: 40px;
}

header {
  padding: 150px 0 30px;
  background-color: #FFE8E1;
  text-align: center;
}
header span {
  display: block;
  font-weight: bold;
  font-size: 2.5rem;
  margin-top: 20px;
}
header a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
header .button {
  margin-top: 50px;
}
header a:last-child {
  margin-top: 80px;
  -ms-flex-item-align: center;
      align-self: center;
}

.headerLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about {
  padding: 50px 0 80px;
}
.about .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about h3 {
  margin: 0;
}
.about .button,
.about h4 {
  -ms-flex-item-align: center;
      align-self: center;
}
.about span {
  font-weight: bold;
  border-bottom: 4px solid #FFC4D1;
  padding-bottom: 2.5px;
}

.aboutFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aboutTextContainer {
  width: 60%;
  margin-top: 20px;
}

.aboutImgContainer {
  width: 30%;
  -ms-flex-item-align: center;
      align-self: center;
}

.skills {
  background-color: #FFE8E1;
  padding: 30px 0 60px;
}
.skills i {
  font-size: 3.5rem;
}
.skills img {
  height: 3.5rem;
}

.skillsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.skillsList li {
  width: calc(16.6666666667% - 25px);
  text-align: center;
  margin-bottom: 10px;
}
.skillsList .responsiveIconContainer,
.skillsList a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects {
  background-color: #fff;
  padding: 30px 0 100px;
}

.contact {
  background-color: #FFE8E1;
  padding: 80px 0 100px;
}
.contact .formButton {
  background-color: #000100;
  margin-top: 12px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.contact h3 {
  font-weight: bold;
  font-size: 1.3rem;
  text-align: start;
  margin: 8px 0;
}
.contact ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
}
.contact li {
  margin-right: 20px;
}
.contact p {
  margin: 0;
}
.contact i {
  font-size: 2rem;
}

.contactFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
}

.contactTextContainer {
  width: 40%;
  margin-right: 15px;
}

.contactFormContainer {
  width: 50%;
}
.contactFormContainer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.contactFormContainer input,
.contactFormContainer textarea {
  border: 0px;
  border-bottom: 3px solid #82899B;
  background-color: transparent;
  margin: 10px 0 20px;
}
.contactFormContainer textarea {
  height: 150px;
}
.contactFormContainer i {
  font-size: 1rem;
}

footer {
  background-color: #000100;
  padding: 25px 0 20px;
}
footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}